<h1>Add a new artist</h1>

<%= simple_form_for(@artist) do |f| %>
    <%= f.input :name %>
    <%= f.input :years_active %>
    <%= f.input :separated %>
    <%= f.input :photo, as: :file %>
    <%= f.submit %>
<% end %>

<!-- to add uploding image feature -->
