<h1>Edit a new song</h1>

<%= simple_form_for [@artist, @song] do |f| %>
  <%= f.input :name %>
  <%= f.input :minutes %>
  <%= f.input :album %>
  <%= f.submit %>
<% end %>

<!-- need to change path -->
