<h1>Add a new song</h1>

<%= simple_form_for [@artist, @song] do |f| %>
  <%= f.input :name %>
  <%= f.input :minutes %>
  <%= f.association :album, input_html: { class: 'album' } %>
  <%= f.submit %>
<% end %>

<!-- need to change input_html -->
