<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="/artists">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a><%= link_to 'Add a artist', new_artist_path(@artist) %></a>
      </li>
    </ul>
  </div>
</div>

<div class="card-product">
  <!--  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" /> -->

  <div class="card-product-infos">
    <div class="card-product-description">
      <h1><%= @artist.name %></h1>
      <% @artist.songs.each do |song| %>
        <h1><%= song.name %> from <%= song.album.name %> </h1>
        <p> <%= link_to 'YouTube video', "https://www.youtube.com/results?search_query=#{song.name}" %></p>

        <p><%= link_to 'Delete', song_path(song), method: :delete %></p>
      <% end %>
    </div>
  </div>
</div>


<!-- not completed -->

<%= link_to 'Add a song', new_artist_song_path(@artist) %>
<%= link_to 'Back to list', artists_path %>


<!-- <h1>Album details</h1>

<p><%= @album.name %></p>

<% @album.songs.each do |song| %>
  <%= song.name %>
<% end %> -->
